[Desktop Entry]
Comment=Image Editor
Exec=/home/username/Programs/GIMP.AppImage %U
GenericName=Image Editor
Icon=/home/username/Pictures/icons/eos-linux-gimp.png
Name=GIMP
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
