[Desktop Entry]
Comment=Video Editor
Exec=/home/username/Programs/OpenShot.AppImage %U
GenericName=Video Editor
Icon=/home/username/Pictures/icons/eos-linux-openshot.png
Name=Openshot
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
