[Desktop Entry]
Categories=Qt;KDE;System;
Comment=Offers detailed view of past crashes
Exec=drkonqi-coredump-gui
GenericName=Crashed Processes Viewer
Icon=/home/seijeeos/Pictures/icons/eos-linux-crashprocess.png
Keywords=drkonqi;crash;coredumpd;bug;
Name=Crashed Processes Viewer
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=coredumpctl
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
