[Desktop Entry]
Categories=Audio;Music;Player;AudioVideo;
Comment=
Exec=/snap/bin/spotify %U
GenericName=Music Player
Icon=/home/seijeeos/Pictures/icons/eos-linux-spotify.png
MimeType=x-scheme-handler/spotify;
Name=Spotify
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=spotify
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SnapAppName=spotify
X-SnapInstanceName=spotify
